div(class='modal-container')
	div(class='title-row')
		h3 I am a title
		div(class='tab-container')
			button(class='tab-style') {{tabTitle1}}
			button(class='tab-style') {{tabTitle2}}
			button(class='tab-style') {{tabTitle3}}
	div(class='description-container') {{description}}
	block modalContentsHere
	div(class='button-container')
		button(class='button-style') {{buttonText1}}
		button(class='button-style') {{buttonText2}}